<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="Map">

    </div>
    <div id="Info">
        <h2>{{ domain }}</h2>
        <p>Users count: {{ users_count }}</p>
        <p>Rooms count: {{ rooms_count }}</p>
        <p>All users:</p>
        <ul>
            {% for user in users %}
                <li>{{ user }}</li>
            {% endfor %}
        </ul>
    </div>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript">setMapFromJson(String.raw`{{ map|safe }}`);</script>
</body>
</html>