@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 40px 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap-reverse;
  font-family: "Manrope", sans-serif;
}
body > div {
  margin: 16px;
}

#Info {
  width: 240px;
  border: 2px solid black;
  padding: 1rem;
}

#Map {
  width: 640px;
  height: 640px;
  border: 2px solid black;
}
#Map canvas {
  background-color: white;
}

@media screen and (max-width: 768px) {
  #Info, #Map {
    width: auto;
  }
}

/*# sourceMappingURL=main.css.map */
